.clear-checkout-container,
.confirm-checkout-container,
.login-container {
    width: 100%;
    height: 3em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    z-index: 99;
}

.checkout,
.checkout-confirm,
.clear-cart,
.modify-cart,
.login-after-signup,
.submit-continue {
    background-color: var(--bg-dark);
    color: var(--text-light);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    margin: 1em;
    border: 0.125em solid var(--bg-dark);
    border-radius: 0.3125em;
    box-shadow: 0.125em 0.125em 0.125em 0.0625em var(--indicator-fill);
    cursor: pointer;
}

.checkout-back {
    background-color: var(--bg-light);
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 100%;
    font-size: 0.8em;
    padding: 0 1em;
    margin-left: 1.25em;
    border: 0.0625em solid var(--bg-dark);
    border-radius: 0.3125em;
    box-shadow: 0.125em 0.125em 0.125em 0.0625em var(--bg-dark);
    cursor: pointer;
}

.checkout-steps {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    height: auto;
    background-color: var(--bg-light);
    margin: 1em 0 1em 0;
    padding: 0.1em;
    border: 0.125em solid var(--bg-dark);
    border-radius: 0.3125em;
    box-shadow: 0.125em 0.125em 0.125em 0.0625em var(--indicator-fill);
}

.checkout-steps-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    width: 35%;
    height: auto;
    background-color: var(--bg-light);
    margin: 0.1em;
    padding: 0.1em;
    border: 0.0625em solid var(--bg-light);
    border-radius: 0.3125em;
}

.checkout-step {
    width: 100%;
    margin-bottom: 1em;
}

.checkout-step-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-green);
    margin-top: 0.15em;
}

.checkout-step-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 0.125em solid var(--bg-dark);
    border-bottom: 0.125em solid var(--bg-dark);
    border-radius: 0.3125em;
    padding: 0.125em;
}

.header-arrow-container-review,
.header-arrow-container-payment,
.header-check-container-payment,
.header-edit-container-payment,
.header-arrow-container-ship-method,
.header-check-container-ship-method,
.header-edit-container-ship-method,
.header-arrow-container-shipping,
.header-check-container-shipping,
.header-edit-container-shipping,
.header-arrow-container-billing,
.header-check-container-billing,
.header-edit-container-billing {
    display: none;
}

.header-arrow-container-review.active,
.header-arrow-container-payment.active,
.header-check-container-payment.active,
.header-arrow-container-ship-method.active,
.header-check-container-ship-method.active,
.header-arrow-container-shipping.active,
.header-check-container-shipping.active,
.header-arrow-container-billing.active,
.header-check-container-billing.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border: 0.0625em solid var(--bg-dark);
    border-radius: 50%;
    background-color: var(--bg-dark);
    cursor: pointer;
}

.header-edit-container-payment.active,
.header-edit-container-ship-method.active,
.header-edit-container-shipping.active,
.header-edit-container-billing.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.span-header-arrow-review,
.span-header-arrow-payment,
.span-header-arrow-ship-method,
.span-header-arrow-shipping,
.span-header-arrow-billing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--warning);
    font-size: 1.5em;
}

.span-header-check-payment,
.span-header-check-ship-method,
.span-header-check-shipping,
.span-header-check-billing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--success);
    font-size: 1.5em;
}

.span-header-review,
.span-header-payment,
.span-header-ship-method,
.span-header-shipping,
.span-header-billing {
    width: 100%;
    font-size: 1.25em;
    text-transform: capitalize;
    font-weight: 800;
    margin: 0 0.25em 0 0.25em;
}

.span-header-edit-payment,
.span-header-edit-ship-method,
.span-header-edit-shipping,
.span-header-edit-billing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-dark);
    font-size: 1.25em;
}

.checkout-data-payment,
.checkout-data-ship-method-notes,
.checkout-data-ship-method-account,
.checkout-data-ship-method-method,
.checkout-data-shipping-backorder,
.checkout-data-shipping-bill-type,
.checkout-data-shipping-address,
.checkout-data-billing {
    font-size: 0.75em;
    font-weight: 500;
    font-style: italic;
    margin-top: 0.5em;
}

.checkout-information {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 65%;
    height: auto;
    background-color: var(--bg-medium);
    margin: 0.1em;
    padding: 0.25em;
    border: 0.0625em solid var(--bg-light);
    border-radius: 0.3125em;
}

.checkout-information-review,
.checkout-information-payment,
.checkout-information-ship-method,
.checkout-information-shipping,
.checkout-information-billing {
    display: none;
}

.checkout-information-review.active,
.checkout-information-payment.active,
.checkout-information-ship-method.active,
.checkout-information-shipping.active,
.checkout-information-billing.active {
    display: block;
    width: 100%;
}

.checkout-info-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
}

.info-header-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border: 0.0625em solid var(--bg-dark);
    border-radius: 50%;
    background-color: var(--bg-dark);
}

.span-info-header-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--warning);
    font-size: 1.75em;
}

.span-info-header {
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 800;
    margin: 0 0.25em 0 0.25em;
}

.checkout-steps-dropdown-payment,
.checkout-steps-dropdown-ship-method,
.checkout-steps-dropdown-shipping-backorder,
.checkout-steps-dropdown-shipping-bill-type,
.checkout-steps-dropdown-shipping-address,
.checkout-steps-dropdown-billing {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 0.75em;
    border: 0.1em solid var(--indicator-fill);
    border-radius: 0.3125em;
    box-shadow: 0.125em 0.125em 0.125em 0.0625em var(--indicator-fill);
}

.checkout-steps-dropdown-shipping-bill-type,
.checkout-steps-dropdown-shipping-address {
    margin-top: 1.5em;
}

.selected-option-payment,
.selected-option-ship-method,
.selected-option-shipping-address,
.selected-option-shipping-bill-type,
.selected-option-shipping-backorder,
.selected-option-billing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--bg-light);
    padding: 0.25em;
    border: 0.0625em solid var(--bg-dark);
    cursor: pointer;
}

.dropdown-down-arrow {
    display: block;
    font-size: 2em;
}

.dropdown-down-arrow.active {
    display: block;
    font-size: 2em;
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.dropdown-down-arrow.inactive {
    transform: rotate(-360deg);
    transition: transform 0.5s;
}

.payment-options,
.ship-method-options,
.ship-address-options,
.ship-bill-type-options,
.ship-backorder-options,
.bill-address-options {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    padding: 0;
    margin-top: 0.5em;
    list-style: none;
    background-color: var(--bg-light);
    overflow-y: auto;
    max-height: 0;
    transition: max-height 0.5s ease;
    z-index: 10;
}

.payment-options.active,
.ship-method-options.active,
.ship-address-options.active,
.ship-bill-type-options.active,
.ship-backorder-options.active,
.bill-address-options.active {
    max-height: 10em;
    border: 0.0625em solid var(--bg-dark);
    border-radius: 0.3125em;
    cursor: pointer;
    box-shadow: 0.125em 0.125em 0.125em 0.0625em var(--indicator-fill);
    z-index: 10;
}

.payment-options li,
.ship-method-options li,
.ship-address-options li,
.ship-bill-type-options li,
.ship-backorder-options li,
.bill-address-options li {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.payment-options li:hover,
.ship-method-options li:hover,
.ship-address-options li:hover,
.ship-bill-type-options li:hover,
.ship-backorder-options li:hover,
.bill-address-options li:hover {
    background-color: var(--bg-medium);
}

.option-ship-default-icon,
.option-bill-default-icon {
    font-size: 1.5em;
}

.ship-method-weight {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.ship-method-weight-title,
.ship-method-weight-weight {
    font-size: 0.85em;
    font-weight: 800;
    text-transform: capitalize;
    margin-right: 2em;
}

.ship-method-account-number {
    display: none;
}

.ship-method-account-number.active,
.ship-method-delivery-instructions,
.order-review-po,
.order-review-notes {
    display: block;
    border: 0.0625em solid var(--bg-dark);
    border-radius: 0.3125em;
    box-shadow: 0.125em 0.125em 0.125em 0.0625em var(--indicator-fill);
    margin-top: 1em;
}

.order-review-po input,
.order-review-notes input,
.ship-method-account-number input,
.ship-method-delivery-instructions input {
    width: 100%;
    font-size: 0.75em;
    padding: 0.5em;
}

.ship-method-account-number input[type='text'] {
    text-transform: uppercase;
}

.order-review-po input[type='text']::placeholder,
.order-review-notes input[type='text']::placeholder,
.ship-method-account-number input[type='text']::placeholder,
.ship-method-delivery-instructions input[type='text']::placeholder {
    text-transform: capitalize;
}

.policy-notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.75em;
    margin-top: 1em;
}

.note-title {
    font-weight: 800;
    text-decoration: underline;
}

.ship-method-notes span:not(:last-of-type) {
    margin-bottom: 0.75em;
}

.checkout-info-continue {
    display: flex;
    align-items: center;
}

.checkout-info-continue span {
    font-size: 0.75em;
    margin: 0.5em;
}
